*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;

}
:root{
    --maincolor:#eeeeee;
    --sacendrycolor:#10cab7;
}
body{
        font-family:"Work Sans",sans-serif;
}
html{
    scroll-behavior: smooth;
}

.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width:410px){
    .container{
        width:400px
    }
}
@media (min-width:411px) and (max-width: 767px){
    .container{
        width: 700px;
    }
}

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
.header {
    padding: 20px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
}
.links{
    position:relative;
}
.icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icon span{
    background-color: black;
    margin-bottom: 5px;
}
.icon span:first-child {
    height: 2px;
    width: 100%;
}
.icon span:nth-child(2) {
    height: 2px;
    width: 60%;
    transition-duration:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition: 0.3s;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
}
.icon span:last-child {
    height: 2px;
    width: 100%;

}
.icon:hover span:nth-child(2) {
    width: 100%;
}
.links ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    background-color: var(--maincolor);
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% + 15px);
    display: none;
    z-index: 9;
}
.links ul:before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--maincolor) transparent;
    position: absolute;
    top:-20px ;
    right:5px ;

}
.links:hover ul{
    display: block;
}
.links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.links ul li a:hover{
    padding-left: 25px;
}
.links ul li:not(:last-child){
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
}
.landing{
    background-image: url(../images/mountains-2069531_960_720.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.textintro > h1 {
    margin: 0px;
    color: var(--sacendrycolor);
    font-weight: bold;
    font-size: 50px;

}
h1 ~ p {
    font-size: 19px;
    line-height: 1.8;
}
.textintro{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.feature{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px
}
.feat {
    text-align: center;
    padding: 20px;
}
.feat i {
    color: var(--sacendrycolor);
    font-size:50px;
    padding-bottom: 30px;
}
.feat h3 {
    font-weight: 800;
    margin-bottom: 25px;
}
.feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.x{
    box-shadow: 0.5px 2px 3px 0px #626262;;
    padding: 20px;
}
.contaainer{
    
}
@media (max-width:767px){
   .contaainer h2{
    font-size : 40px ;
   }
   .contaainer p{
        margin-top: -20px ;
   }
}
.contaainer h2{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.contaainer p{
    margin-top:-30px;
    text-align: center;
    color: #797979;
}
.services{
     padding-top: 60px;
    padding-bottom: 60px;
}
.servicescontent{
    margin: 80px 60px 0px 120px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.y{
    width: 300px;
     height: 200px;
      margin-top: 48px;
      position: relative;
} 
.y img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px inset #f2f2f2;
} 
.y::before{
    content: "";
    width: 80px;
    height: calc(100% + 80px);
    position: absolute;
    top:-40px;
    right: -40px;
    background-color: #2c4755;
    z-index: -1;
}
@media (max-width: 1199px) {
    .y{
        display: none;
    }
}

.servicescontent .col .z {
    margin-bottom: 50px;
    display: flex
}
@media (max-width:767px){
    .servicescontent .col .z{
        flex-direction: column;
        text-align: center;
    }
    .servicescontent .col i{
        margin-bottom: 15px;
    }
}
.servicescontent .col i {
   padding-right:20px;
   font-size: 40px;
   color: var(--sacendrycolor);
}
.servicescontent .col{
    
}
.servicescontent .text {
    
}
.servicescontent .text p{
    margin-bottom: 30px;
    margin-left:60px ;
    text-align: left;
    color: #777;
}
.portfolio{
     padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfoliocontent {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    grid-gap: 40px;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    
    
}
.card{
    background-color: #ffffff ;
    height: 380px;
}
.card img {
    max-width: 100%;
    height: 65%;
    margin-bottom: 8px;
}
.card .info {
    text-align: left;
    margin-left: 25px;
}
.card h3 {
    margin-bottom: 35px;
}
.card p {
    line-height:1.1 ;
    text-align:left ;
    color: #777;
}
.about{
    padding-top: 60px;
    padding-bottom: 100px;
}
.aboutcontent{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


}
@media (max-width:991px){
   .aboutcontent {
    flex-direction: column;
    text-align: center;
    margin-left: 200px;
    
}
.aboutcontent .immage img{
   
}
}
.aboutcontent .immage{
    width:20% ;
    height: 300px;
    position: relative;
}
.aboutcontent .immage img{
    width: 100%;
    height: 100%;
    
    padding: 5px 0px;
    transform: translatey(-23px);
    -webkit-transform: translatey(-23px);
    -moz-transform: translatey(-23px);
    -ms-transform: translatey(-23px);
    -o-transform: translatey(-23px);
}
@media (max-width:991px){
    .aboutcontent .immage img{
    margin: 0px;
    padding: 0px;
    display: none;
    }
}
.aboutcontent .teext{
    width: 45% ;
    margin-top: 40px;


}
.aboutcontent .immage::before{
    content: "";
    width: 30%;
    height: calc(100% + 40px);
    position: absolute;
    top: -40px;
    left: -15px;
    background-color: #ebeced;
    z-index: -1;
}
.aboutcontent .immage::after{
    content: "";
    width: 43px;
    height: 200px;
    border-left: solid var(--sacendrycolor) 57px;
    border-bottom: solid var(--sacendrycolor) 37px;
    position: absolute;
    right: -65px;
    top: -30px;
    z-index: -1;

}
@media (max-width:991px){
    .aboutcontent .immage::before ,
    .aboutcontent .immage::after{
        display: none;
    }
}
.aboutcontent .teext p {
    text-align: left;
}
.aboutcontent .teext hr{
    width: 50%;
    border-color: var(--sacendrycolor);
}
.aboutcontent .teext p:first-of-type{
    
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5;
}
.aboutcontent .teext p:last-of-type{
    padding-top: 5px;
    line-height: 1.5;
    color: #777;
}
.contact{
     padding-top: 60px;
    padding-bottom: 100px;
    background-color: #f6f6f6;
    
}
.data{
    margin-top: 80px;
    text-align: center;
}
.data h1{
    color: #2c4755;
    font-weight: 800;
    letter-spacing: -2px;
}
.data a{
    text-decoration: none;
    font-size:30px ;
    font-weight: 800;
    color: var(--sacendrycolor);
    
}
.contact .social {
    margin-top: 10px;
    color: #2c4755;
    font-size: 12px;
}
.social i{
    margin-left: 10px;
    color: #2c4755;
}
@media (max-width:767px){
    .data h1,
    .data a {
        font-size: 25px;
    }
}
.footer{
    
    background-color: #2c4755;
    width: 100%;
    height: 80px;
    position: relative;
}
.footer p{
    text-align: center;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight:600;
    color: white;
}
.footer span{
    color: var(--sacendrycolor);
}